@media screen and (min-width: 640px) {
     .modal-dialog__section {
        width: 50%;
    }
    
    .modal-dialog__section label {
        display: block;
        padding-left: 10px;
    }
    .modal-dialog__section--1 {
        display: block;
        float: left;
    }

    .modal-dialog__section--2 {
        float: right;
    }
    
    .modal-dialog__section--2 #vehicle-damaged {
        display: block;
    }
    
    .modal-dialog__form {
        padding: 10px 0;
    }
    
    .modal-dialog__section__input {
        margin-left: 10px;
        float: left;
        display: inline-block;
    }
    
    .modal-dialog__color-preview {
        width: 20px;
    }
    
    .modal-dialog__damage-details, label[for="damage-reason"] {
        display: none;
    }
    
    #vehicle-damaged:checked ~ .modal-dialog__damage-details  {
        display: block;
    }
}

@media screen and (min-width: 960px) {
   .modal-dialog__brand-logo {
        display: block;
    }
}

@media screen and (min-width: 1025px) {
    .modal-dialog__section input, 
    .modal-dialog__section select, 
    .modal-dialog__section textarea {
        margin-left: 0;
    }
}