.color-square {
	fill: #ffffff;
	stroke-width: 1;
	stroke: #bcbcbc;
}

#modal-window:target {
	display: block;
}

#modal-window {
	display: none;
}
.modal-dialog {
	max-width: 650px;
}
.modal-dialog__section {
	width: 100%
}
.modal-dialog__section--1 {
	width: 100%
}
label {
	float: left;
	clear: both;
}

input, select {
	float: left;
}